<p id="notice"><%= notice %></p>

<h1>Listing Admin Test Papers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_papers.each do |paper| %>
      <tr>
        <td><%= paper.name %></td>
        <td><%= link_to 'Show', admin_paper_path(paper) %></td>
        <td><%= link_to 'Edit', edit_admin_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', admin_paper_path(paper), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test paper', new_admin_paper_path %>
