<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @admin_paper.name %>
</p>

<p>
  <strong>Letters:</strong>
  <% @admin_paper.letters.group_by(&:category).each do |category, letters| %>
    <div>
      <%= category %>
      <div>
        <% letters.each do |letter| %>
          <span style="font-size: 26px;"><%= letter.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_paper_path(@admin_paper) %> |
<%= link_to 'Back', admin_papers_path %>
