<p id="notice"><%= notice %></p>

<p>
  <strong>Letter:</strong>
  <%= @paper_letter.letter %>
</p>

<p>
  <strong>Test paper:</strong>
  <%= @paper_letter.paper %>
</p>

<%= link_to 'Edit', edit_paper_letter_path(@paper_letter) %> |
<%= link_to 'Back', paper_letters_path %>
