<p id="notice"><%= notice %></p>

<p>
  <strong>类型:</strong>
  <%= @letter.type %>
</p>

<p>
  <strong>拼音:</strong>
  <%= @letter.name %>
</p>

<%= link_to '编辑', edit_letter_path(@letter) %> |
<%= link_to '返回', letters_path %>
