<%= form_for([:admin, @admin_letter]) do |f| %>
  <% if @admin_letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_letter.errors.count, "error") %> prohibited this admin_letter from being saved:</h2>

      <ul>
      <% @admin_letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category, "类型" %><br>
    <%= f.select :category, Letter::CATEGORIES %>
  </div>
  <div class="field">
    <%= f.label :name, "拼音" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
