<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_letter.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @admin_letter.category %>
</p>

<%= link_to 'Edit', edit_admin_letter_path(@admin_letter) %> |
<%= link_to 'Back', admin_letters_path %>
