<p id="notice"><%= notice %></p>

<p>
  <strong>拼音:</strong>
  <%= @admin_letter.name %>
</p>

<p>
  <strong>类型:</strong>
  <%= @admin_letter.category %>
</p>

<%= link_to '编辑', edit_admin_letter_path(@admin_letter) %> |
<%= link_to '返回', admin_letters_path %>
