<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.paper.name %>
</p>

<div class='test-area'>
  <button class='btn btn-primary btn-lg begin-test'>Begin</button>
</div>

<%= link_to 'Back', paper_path(@paper) %>

<script type="text/javascript">
  var test = new Test({
    letters: <%= @letters.to_json.html_safe %>,
    urlRoot: "<%= paper_test_path(@paper, @test) %>",
    triggerButton: $('button.begin-test'),
    element: $('div.test-area')
  });
</script>